.inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.textArea {
  width: 100%;
  border: none;
  min-height: 25px;
  max-height: 200px;
  resize: none;
  margin: auto;
  display: block;
  padding: 5px 15px 0px 15px;
}
.textArea:focus-visible {
  outline: none;
}
.button {
  width: 200px;
  padding: 5px;
  border: none;
  cursor: pointer;
}
